@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.a{
  text-decoration: none;
  list-style-type: none;
}

.backgroundimg{
  height: 94vh;
  background-image: url('./assets/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
}
.exerciseList{
  height: 94vh;
  background-image: url('./assets/wallpaperflare.com_wallpaper\ \(3\).jpg');
  background-size: cover;
}
.createUser{
  height: 94vh;
  background-image: url('./assets/wallpaperflare.com_wallpaper\ \(4\).jpg');
  background-size: cover;
}

.date{
  background: transparent;
  border: 2px solid magenta;
  border-radius: 0.5rem;
  width: 92%;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
::-webkit-scrollbar {
  display: none;
}




body {
  margin: 0;
  font-family: 'Kanit', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
